/* ==========================================================================
   #DISPLAY
   ========================================================================== */










.u-display-block {
  display: block !important;
}

.u-display-inline {
  display: inline !important;
}

.u-display-inline-block {
  display: inline-block !important;
}

.u-display-none {
  display: none !important;
}










/* xs */
@media (min-width: 30em) {




    .u-display-block\@xs {
        display: block !important;
    }

    .u-display-inline\@xs {
        display: inline !important;
    }

    .u-display-inline-block\@xs {
        display: inline-block !important;
    }

    .u-display-none\@xs {
        display: none !important;
    }





}









/* sm  */
@media (min-width: 45em) {





    .u-display-block\@sm {
        display: block !important;
    }

    .u-display-inline\@sm {
        display: inline !important;
    }

    .u-display-inline-block\@sm {
        display: inline-block !important;
    }

    .u-display-none\@sm {
        display: none !important;
    }





}









/* lg  */
@media (min-width: 64em) {





    .u-display-block\@lg {
        display: block !important;
    }

    .u-display-inline\@lg {
        display: inline !important;
    }

    .u-display-inline-block\@lg {
        display: inline-block !important;
    }

    .u-display-none\@lg {
        display: none !important;
    }





}









/* xl */
@media (min-width: 75em) {





    .u-display-block\@xl {
        display: block !important;
    }

    .u-display-inline\@xl {
        display: inline !important;
    }

    .u-display-inline-block\@xl {
        display: inline-block !important;
    }

    .u-display-none\@xl {
        display: none !important;
    }





} 







